<div id="wrapper" class="row">

  <nav class="col-sm-2 well">
    <ul class="nav nav-pills nav-stacked" data-spy="affix" data-offset-top="205">
      <li><a href="#wrapper">Top</a></li>
      <li><a href="#statement">Statement</a></li>
      <li><a href="#cash-cards">Cash Cards</a></li>
      <li><a href="#trade-cards">Trade Cards</a></li>
      <li><a href="#position-transfers">Position Transfers</a></li>
      <li><a href="#data-maintenance">Data Maintenance</a></li>
      <li><a href="#back-office-reports">Back Office Reports</a></li>
      <li><a href="#regulatory-reports">Regulatory Reports</a></li>
    </ul>
  </nav>

  <div class="col-md-10 well">
    <!-- Page content -->
    <div id="page-content-wrapper">

      <h1 id="top">Back Office Help</h1>

      <h2><a name="statement">Statement</a></h2>
      <%= render "pages/back_office_help_statement" %>

      <h2><a name="cash-cards">Cash Cards</a></h2>
      <%= render "pages/back_office_help_cash_cards" %>

      <h2><a name="trade-cards">Trade Cards</a></h2>
      <%= render "pages/back_office_help_trade_cards" %>

      <h2><a name="position-transfers">Position Transfers</a></h2>
      <%= render "pages/back_office_help_position_transfer" %>

      <h2><a name="data-maintenance">Data Maintenance</a></h2>
      <%= render "pages/back_office_help_data_maintenance" %>

      <h2><a name="back-office-reports">Back Office Reports</a></h2>
      <%= render "pages/back_office_help_back_office_reports" %>

      <h2><a name="regulatory-reports">Regulatory Reports</a></h2>
      <%= render "pages/back_office_help_regulatory_reports" %>

    </div>
  </div>
</div>