<div id="wrapper" class="row">

  <nav class="col-sm-2 well">
    <ul class="nav nav-pills nav-stacked" data-spy="affix" data-offset-top="205">
      <li><a href="#wrapper">Top</a></li>
      <li><a href="#expectations">Expectations</a></li>
      <li><a href="#software-dependencies">Dependencies</a></li>
      <li><a href="#ruby-on-rails">Ruby on Rails</a></li>
      <ul>
        <li><a href="#ruby-on-rails-installation" data-scroll>Installation</a></li>
        <li><a href="#ruby-on-rails-configuration" data-scroll>Configuration</a></li>
      </ul>
      <li><a href="#git_and_github" data-scroll>Git and Github</a></li>
      <li><a href="#database" data-scroll>Database</a></li>
      <ul>
        <li><a href="#database-conneciton" data-scroll>Connection</a></li>
        <li><a href="#database-user-and-schema" data-scroll>User/Schema</a></li>
        <li><a href="#database-initialization" data-scroll>Initialization</a></li>
        <li><a href="#database-replication" data-scroll>Replication</a></li>
      </ul>
      <li><a href="#running-rails" data-scroll>Running Rails</a></li>
      <ul>
        <li><a href="#running-rails-repl" data-scroll>REPL</a></li>
        <li><a href="#running-rails-server" data-scroll>Server</a></li>
        <li><a href="#running-rails-tests" data-scroll>Tests</a></li>
      </ul>
      <li><a href="#running-services" data-scroll>Running Services</a></li>
      <ul>
        <li><a href="#running-service-postgresql" data-scroll>PostgreSQL</a></li>
        <li><a href="#running-service-membached" data-scroll>Memcached</a></li>
        <li><a href="#running-service-rabbitmq" data-scroll>RabbitMQ</a></li>
        <li><a href="#running-service-pickers" data-scroll>Pickers</a></li>
        <li><a href="#running-service-packers" data-scroll>Packers</a></li>
        <li><a href="#running-service-bookers" data-scroll>Bookers</a></li>
        <li><a href="#running-service-cron" data-scroll>Cron</a></li>
      </ul>
      <li><a href="#god" data-scroll>God</a></li>
      <li><a href="#deployment" data-scroll>Deployment</a></li>
    </ul>
  </nav>

  <div class="col-md-10 well">
    <!-- Page content -->
    <div id="page-content-wrapper">

      <h1 id="top">Development Help</h1>

      <h2><a name="expectations">Expectations</a></h2>
      <%= render "pages/development_help_expectations" %>

      <h2><a name="dependencies">Dependencies</a></h2>
      <%= render "pages/development_help_dependencies" %>

      <h2><a name="ruby-on-rails">Ruby on Rails</a></h2>
      <%= render "pages/development_help_ruby_on_rails" %>

      <h2><a name="git_and_github">Git & GitHub</a></h2>
      <%= render "pages/development_help_ruby_on_rails" %>

      <h2><a name="database">Database</a></h2>
      <%= render "pages/development_help_database" %>

      <h2><a name="deployment">Deploying Rails</a></h2>
      <%= render "pages/development_help_deploying_rails" %>

      <h2><a name="running-rails">Running Rails</a></h2>
      <%= render "pages/development_help_running_rails" %>

      <h2><a name="running-services">Running Services</a></h2>
      <%= render "pages/development_help_running_services" %>

      <h2><a name="god">God</a></h2>


    </div>
  </div>

</div>
